@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background: #f2f2f2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.main-container {
  flex-grow: 1;
}

.button {
  display: inline-block;
  box-sizing: border-box;
  padding: 0 15px;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #756157;
  border-radius: 4px;
}

.button:hover,
.button:focus {
  background-color: #615048;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-small {
  padding-top: 9px;
  padding-bottom: 8px;
  width: 140px;
  align-self: center;
}

.button-small-header {
  width: 160px;
}

.navigation {
  display: flex;
}

.navigation-logo {
  width: 139px;
  margin-right: 30px;
  margin-left: 70px;
  background-size: cover;
  margin-bottom: -10px;
  position: relative;
}

.navigation-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 470px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-user {
  max-width: 300px;
  margin-left: auto;
  margin-right: 70px;
  justify-content: flex-end;
}

.navigation-user .navigation-link {
  min-width: 18px;
  min-height: 18px;
  padding-left: 12px;
  padding-right: 12px;
}

.navigation-link-current::after {
  position: absolute;
  left: 17px;
  right: 17px;
  height: 2px;
  content: "";
  background-color: #756157;
  bottom: -1px;
}

.navigation-link {
  position: relative;
  display: block;
  padding: 20px 17px;
  color: #000000;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  text-transform: capitalize;
}

.count-favorites  {
  position: absolute;
  font-size: 10px;
  line-height: 13px;
  border-radius: 50%;
  background-color: #7DB54F;
  color: #ffffff;
  padding: 4px 5px;
  top: 10px;
  left: 24px;
}

.navigation-link:hover,
.navigation-link:focus {
  color: #615048;
}

.navigation-link:active {
  color: rgba(117, 97, 87, 0.3);
}

.navigation-icon {
  position: absolute;
}

.navigation-item:hover .navigation-icon,
.navigation-item:focus .navigation-icon {
  fill: #615048;
}

.navigation-item:active .navigation-icon {
  fill: rgba(117, 97, 87, 0.3);
}

.navigation-item .button {
  margin-left: 20px;
}

.main-index {
  text-align: center;
}

.header-background {

  background-image: url("../images/background-divider.svg"), url("../images/background-header.jpg");
  background-color: #615048;
  background-size: contain, cover;
  background-repeat: no-repeat;
  padding-top: 51px;
  padding-bottom: 82px;
  margin-bottom: 0;
  background-position: bottom, top;
}

.main-logo {
  display: block;
  margin: 0 auto;
  margin-bottom: 0;
  padding: 0;
}

.main-description {
  padding-top: 63px;
  padding-bottom: 90px;
}

.section-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 auto 31px;
  max-width: 630px;
}

.section-info {
  color: #333333;
  margin: 0 auto;
  max-width: 660px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-block {
  display: flex;
  flex-wrap: wrap;
}

.advantages-item {
  width: 400px;
  min-height: 384px;
  box-sizing: border-box;
  padding: 0 84px;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 30px;
  max-width: 180px;
}

.item-city {
  color: #ffffff;
  background-color: #82b3d3;
  padding-top: 92px;
  padding-bottom: 92px;
}

.advantages-number,
.advantages-description {
  font-size: 18px;
  line-height: 21px;
  margin: 0;
}

.advantages-description {
  color: #333333;
}

.advantages-number {
  margin-bottom: 30px;
}

.description-city {
  color: #ffffff;
}

.advantages-image {
  background-color: #82b3d3;
}

.advantages-image img {
  vertical-align: bottom;
  max-height: 384px;
}

.advantages-pale {
  background-color: rgba(131, 179, 211, 0.12);
  padding-top: 103px;
  padding-bottom: 102px;
}

.advantages-pale:nth-child(2) {
  background-color: #ffffff;
}

.advantages-pale:nth-child(4) {
  background-color: rgba(131, 179, 211, 0.2);
}

.sublist {
  padding-top: 80px;
  padding-bottom: 81px;
}

.sublist .advantages-title {
  margin-top: 102px;
}

.advantages-list .sublist:nth-child(1) {
  background-image: url("../images/icons/advantages-home.svg");
  background-repeat: no-repeat;
  background-size: 75px 72px;
  background-position: center top 80px;
}

.advantages-list .sublist:nth-child(2) {
  background-image: url("../images/icons/advantages-food.svg");
  background-repeat: no-repeat;
  background-size: 75px 72px;
  background-position: center top 80px;
}

.advantages-list .sublist:nth-child(3) {
  background-image: url("../images/icons/advantages-souvenires.svg");
  background-repeat: no-repeat;
  background-size: 75px 72px;
  background-position: center top 80px;
}

.find-hotel {
  padding-top: 91px;
  padding-bottom: 93px;
}

.find-hotel-title {
  margin-top: 0;
  margin-bottom: 29px;
}

.find-hotel-info {
  margin: 0 auto 56px;
  max-width: 592px;
}

.button-find-hotel {
  font-size: 20px;
  line-height: 36px;
  padding: 12px 15px;
  width: 574px;
}

.newsletter {
  background-image: url("../images/background-footer.jpg");
  color: #ffffff;
  background-color: rgba(131, 179, 211, 0.7);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 94px;
  padding-bottom: 94px;
}

.newsletter-title {
  margin-top: 0;
  margin-bottom: 29px;
}

.newsletter-info {
  color: inherit;
  margin: 0 auto 46px;
  max-width: 475px;
}

.newsletter-form {
  display: flex;
  justify-content: center;
}

.field {
  box-sizing: border-box;
  width: 600px;
  border-radius: 10px 0 0 10px;
  border: none;
  font-size: 18px;
  line-height: 21px;
  padding-left: 22px;
  padding-right: 22px;
}

.newsletter-button {
  width: 200px;
  padding: 12px 15px;
  font-size: 20px;
  line-height: 36px;
  border: none;
  border-radius: 0 10px 10px 0;
  background-color: #82b3d3;
}

.newsletter-button:hover,
.newsletter-button:focus {
  background-color: #68a2ca;
}

.newsletter-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 70px 30px;
}

.footer-socials {
  max-width: 184px;
}

.footer-socials-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.socials-icon {
  display: inline-block;
  box-sizing: border-box;
  padding: 12px;
  min-width: 47px;
  fill: #83b3d3;
}

.socials-icon:hover,
.socials-icon:focus {
  fill: #68a2ca;
}

.socials-icon:active {
  fill: rgba(104, 162, 202, 0.3);
}

.contacts {
  width: 720px;
  text-align: center;
}

.contacts-phone {
  margin-top: 5px;
  margin-bottom: 5px;
}

.phone-number {
  color: #000000;
  font-size: 40px;
  line-height: 40px;
  font-style: normal;
  text-decoration: none;
}

.phone-number:hover,
.phone-number:focus {
  color: #615048;
}

.phone-number:active {
  color: rgba(117, 97, 87, 0.3);
}


.html-academy-logo {
  display: block;
}

.html-academy-logo:hover,
.html-academy-logo:focus {
  fill: #615048;
}

.html-academy-logo:active {
  fill: rgba(117, 97, 87, 0.3);
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal {
  position: relative;
  margin: auto;
  padding: 62px 70px 70px;
  background-color: #ffffff;
  border-radius: 30px;
}

.modal-booking {
  width: 575px;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 54px;
  right: 70px;
  width: 53px;
  height: 53px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.close-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  fill: #000000;
}

.modal-close-button:hover {
  background-color: #e6e6e6;
}

.modal-close-button:focus {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.modal-close-button:active {
  background-color: #e6e6e6;
}

.modal-close-button:active .close-icon {
  fill-opacity: 0.3;
}

.modal-title {
  margin: 0;
  margin-bottom: 63px;
  font-family: inherit;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.search-form {
  display: grid;
  grid-template-rows: 50px 40px 50px 40px auto 100px;
  align-items: center;
}

.field-group-dates {
  display: grid;
  grid-template-columns: 1fr 420px;
  margin: 0;
}

.people-section {
  display: grid;
  grid-template-columns: 288px 1fr;
}

.search-label {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  font-family: inherit;
  align-self: center;
  text-transform: capitalize;
}

.warning {
  font-size: 16px;
  line-height: 21px;
  font-family: inherit;
  margin: 0;
  margin-left: 155px;
}

.warning-error {
  color: #ff5757;
}

.search-input {
  padding: 15px 0 14px 0;
  background-color: #f2f2f2;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 21px;
  font-family: inherit;
}

.search-input:hover {
  background-color: #e6e6e6;
}

.search-input:focus {
  background: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.search-input:active {
  background-color: #ffffff;
  outline: 2px solid #000000;
}

.field-group-dates .search-input {
  padding-left: 19px;
  padding-right: 50px;
  background-image: url("../images/icons/date.svg");
  background-repeat: no-repeat;
  background-position: center right 19px;
}

.field-group-people {
  display: grid;
  grid-template-columns: 1fr 133px;
  margin: 0;
}

.field-group-people .search-input {
  text-align: center;
  width: 133px;
}

.field-group-people .search-input::-webkit-outer-spin-button,
.field-group-people .search-input::-webkit-inner-spin-button {
  appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

.spins {
  position: relative;
}

.spin-less {
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 50px;
  border: none;
  background-color: transparent;
  padding: 0;
  fill-opacity: 0.3;
  cursor: pointer;
}

.spin-less-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: #000000;
  overflow: visible;
}

.spin-more {
  position: absolute;
  top: 0;
  right: 0;
  height: 50px;
  width: 50px;
  border: none;
  background-color: transparent;
  padding: 0;
  fill-opacity: 0.3;
  cursor: pointer;
}

.spin-more-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: #000000;
  overflow: visible;
}

.spin-more:hover .spin-more-icon,
.spin-less:hover .spin-less-icon {
  fill-opacity: 1;
}

.spin-less:focus .spin-less-icon {
  outline: 3px solid #83b3d3;
  padding: 12px 6px;
  border-radius: 4px;
  fill-opacity: 1;
  border: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.spin-more:focus .spin-more-icon {
  outline: 3px solid #83b3d3;
  padding: 6px;
  border-radius: 4px;
  fill-opacity: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.spin-more:active .spin-more-icon,
.spin-less:active .spin-less-icon {
  fill-opacity: 0.2;
}

.search-kids {
  margin-left: 56px;
}

.search-button {
  font-size: 20px;
  line-height: 36px;
  padding: 12px 26px;
  border: none;
  border-radius: 10px;
  align-self: end;
  background-color: #83b3d3;
}

.search-button:hover {
  background-color: #68a2ca;
}

.search-button:focus {
  background-color: #68a2ca;
  outline: 3px solid #756157;
}

.tooltip {
  position: absolute;
  margin-top: 14px;
  margin-left: 110px;
  width: 25px;
  height: 25px;
  z-index: 1;
}

.tooltip-toggle {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  display: block;
}

.tooltip-icon {
  width: 100%;
  height: 100%;
  display: block;
}

.tooltip-text {
  background-color: #242424;
  color: #ffffff;
  font-size: 16px;
  line-height: 21px;
  font-weight: normal;
  text-transform: none;
  padding: 15px 22px;
  border-radius: 10px;
  box-sizing: border-box;
  width: 256px;
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}

.tooltip-text::before {
  content: "";
  background-image: url("../images/icons/tooltip-arrow.svg");
  width: 14px;
  height: 6px;
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.modal-container-close {
  display: none;
}

.filter-container {
  background-image: url("../images/background-filter.jpg");
  color: #ffffff;
  background-color: rgba(131, 179, 211, 0.7);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 35px 70px 70px;
  margin-bottom: 50px;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  text-transform: capitalize;
  margin: 0;
  margin-bottom: 10px;
}

.breadcrumbs {
  position: relative;
  display: flex;
  font-size: 16px;
  line-height: 21px;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  list-style-type: none;
}

.breadcrumbs-item {
  margin-right: 25px;
}

.breadcrumbs-item:not(:last-child)::after {
  content: url("../images/icons/breadcrumbs.svg");
  position: absolute;
  margin-left: 10px;
  fill: #ffffff;
  bottom: 1px;
}

.breadcrumbs-link {
  color: inherit;
  vertical-align: bottom;
}

.breadcrumbs-icon {
  position: relative;
  bottom: -1px;
  fill: #ffffff;
}

.breadcrumbs-link:hover,
.breadcrumbs-icon:hover {
  color: rgba(255, 255, 255, 0.6);
  fill: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:active,
.breadcrumbs-icon:active {
  color: rgba(255, 255, 255, 0.3);
  fill: rgba(255, 255, 255, 0.3);
}

.catalog-filter {
  display: flex;

}

.catalog-filter-list {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 30px;
}

.control {
  position: relative;
  display: block;
  padding-left: 40px;
  font-size: 18px;
  line-height: 21px;
}

.catalog-filter-item:not(:last-of-type) .control {
  margin-bottom: 15px;
}

.control-mark {
  position: absolute;
  top: -1px;
  left: 1px;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 4px;
  box-sizing: border-box;
}

.control-input:hover + .control-mark {
  background-color: rgba(255, 255, 255, 0.6);
}

.control-input:focus + .control-mark {
  background-color: rgba(255, 255, 255, 0.6);
  outline: 3px solid #83b3d3;
}

.control-input[type="checkbox"]:checked + .control-mark::after {
  position: absolute;
  content: url("../images/icons/checkbox.svg");
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  background-color: #3f5e72;
  border-radius: 50%;
  content: "";
  transform: translate(-50%, -50%);
}

.range-scale {
  position: relative;
  height: 4px;
  margin-top: 30px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
}

.range-toggle:focus {
  border: 3px solid #83b3d3;
}

.range-toggle:active {
  border: 2px solid #83b3d3;
}

.toggle-min {
  top: -8px;
  left: -10px;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.range-wrapper-inputs {
  position: relative;
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: center;
  border: none;
  box-sizing: border-box;
  width: 288px;
}

.catalog-filter-label {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.3);
  padding: 10px 15px;
  border: 2px solid #ffffff;
}

.catalog-filter-label:first-child {
  border-radius: 4px 0 0 4px;
}

.catalog-filter-label:last-child {
  border-radius: 0 4px 4px 0;
  position: absolute;
  right: 2px;
}

.range-input {
  background-color: transparent;
  border: none;
  margin-right: 10px;
  font-family: inherit;
  font-size: 18px;
  color: #ffffff;
  padding: 0;
  max-width: 80px;
}

.range-input:active {

}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  border: none;
}

.catalog-filter-group:not(:last-child) {
  margin-right: 70px;
}

.catalog-filter-group-right {
  margin-left: auto;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.button-submit {
  background-color: #82b3d3;
  padding-top: 14px;
  padding-bottom: 14px;
  border: none;
  min-width: 160px;
}

.button-submit:hover,
.button-submit:focus {
  background-color: #68a2ca;
}

.button-submit:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-reset {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  padding-top: 22px;
  min-width: 160px;
  color: #ffffff;
  background-color: transparent;
  text-transform: capitalize;
  border: none;
}

.button-reset:hover {
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
}

.button-reset:focus {
  color: #ffffff;
  background-color: transparent;
}

.button-reset:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: transparent;
}

.sorting-container {
  display: flex;
  align-items: center;
  margin: 0 71px 56px 72px;
}

.search-result-number {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.select-control {
  font: inherit;
  font-size: 18px;
  line-height: 21px;
  margin-left: auto;
  width: 290px;
  padding: 14px 40px 14px 20px;
  margin-right: 78px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  background-image: url("../images/icons/arrow.svg");
  background-repeat: no-repeat;
  background-position: right 18px center;
  background-color: #FFFFFF;
  appearance: none;
}

.select-control:hover,
.select-control:focus {
  border-color: #68a2ca;
}

.select-control:active {
  border-color: #3f5e72;
}

.select-control:disabled {
  border-color: rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.3);
}

.button-light {
  position: relative;
  color: #000000;
  background-color: #ffffff;
  box-sizing: border-box;
  text-decoration: none;
  min-width: 48px;
  min-height: 48px;
  margin-right: 8px;
  padding: 15px 14px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.button-light:last-child {
  margin-right: 0;
}

.select-icon {
  position: absolute;
  fill: #000000;
}

.button-light:hover {
  border: 2px solid #000000;
}

.button-light:focus {
  border: 2px solid #68a2ca;
}

.button-light:active {
  border: 2px solid #000000;
}

.button-light:disabled {
  background-color: #e5e5e5;
}

.sorting-container .button-current {
  border: 2px solid #000000;
}

.hotel-card-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  column-gap: 18px;
  list-style-type: none;
  margin: 0 73px 96px 71px;
  padding: 0;
}

.hotel-card-item {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  row-gap: 16px;
  column-gap: 20px;
  padding: 20px;
}

.product-card-link {
  text-decoration: none;
  grid-column: 1/-1;
}

.product-card-title {
  color: #000000;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.product-card-image {
  margin-bottom: 12px;
}

.card-housing-type {
  color: #333333;
  font-size: 18px;
  line-height: 21px;
  margin-top: auto;
}

.button-like {
  padding-top: 9px;
  padding-bottom: 8px;
  background-color: #82b3d3;
  align-self: center;
}

.button-like:hover,
.button-like:focus {
  background-color: #68a2ca;
}

.button-like:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-like:disabled {
  background-color: #e5e5e5;
}

.button-liked {
  padding-top: 9px;
  padding-bottom: 8px;
  background-color: #7db54f;
  align-self: center;
}

.button-liked:hover,
.button-liked:focus {
  background-color: #6c9e42;
}

.button-liked:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-liked:disabled {
  background-color: #e5e5e5;
}

.stars-4 {
  grid-column: 1/2;
  background-image: url("../images/icons/star.svg");
  background-repeat: space;
  width: 90px;
  height: 17px;
  align-self: center;
}

.stars-3 {
  grid-column: 1/2;
  background-image: url("../images/icons/star.svg");
  background-repeat: space;
  width: 66px;
  height: 17px;
  align-self: center;
}

.stars-2 {
  grid-column: 1/2;
  background-image: url("../images/icons/star.svg");
  background-repeat: space;
  width: 42px;
  height: 17px;
  align-self: center;
}

.rating {
  color: #333333;
  background-color: #f2f2f2;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  padding: 9px 22px 8px 23px;
  border-radius: 4px;
  grid-column: 2/3;
  align-self: center;
  max-height: 37px;
}

.pagination {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 71px 25px 73px;
}

.pagination::before {
  position: absolute;
  top: -30px;
  width: 1055px;
  height: 1px;
  content: "";
  background-color: #e6e6e6;
}

.pagination-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  margin-right: 8px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  background-color: #82b3d3;
  text-decoration: none;
  padding-top: 12px;
  text-align: center;
  border-radius: 4px;
}

.pagination-link:hover,
.pagination-link:focus {
  background-color: #68a2ca;
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.pagination-current,
.pagination-current:hover,
.pagination-current:focus,
.pagination-current:active {
  color: #000000;
  background-color: #f2f2f2;
  cursor: default;
}

.hotel-counter {
  color: #333333;
  font-size: 18px;
  line-height: 21px;
  margin-left: auto;
}

.select-hotels-display {
  font-size: 18px;
  line-height: 21px;
  margin-left: 51px;
  margin-right: 0;
  width: 160px;
  height: 49px;
  vertical-align: middle;
  padding-left: 19px;
}

.catalog-newsletter {
  background-image: none;
  background-color: #ffffff;
  color: #000000;
}

.catalog-newsletter .field {
  background-color: #f2f2f2;
}
